<!--  Hold Order Detail -->
<form [formGroup]="formGroup"  novalidate>
  <ion-list>

   
    <ion-item>
      <ion-label position="floating"> Name</ion-label>
      <ion-input text-right type="text"
        formControlName="name"></ion-input>
    </ion-item>
   
   
    <ion-item>
     
     

      <ion-label position="floating">Description</ion-label>

      <ion-textarea formContronName="description">

      </ion-textarea>
     
    </ion-item>
 
   
  </ion-list>
</form>
<ion-button [disabled]="!formGroup.valid" block tappable (click)="submitForm()">Save</ion-button>