<ion-card tappable (click)="select(blog)">

  <ion-card-header>
    <ion-grid>
      <ion-row>
        <img src="{{blog.blogImage}}" />
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-avatar>
          <img src="{{blog.avatar}}" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-row> {{blog.name}} </ion-row>
          <br>
          <ion-row>

          {{blog.description}}...
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>


 
  </ion-card-header>

  <ion-grid>
    <ion-row>
      <ion-col>

      <ion-icon name="thumbs-up-outline"></ion-icon> {{blog.likes}}
      </ion-col>
      <ion-col>
        {{blog.createdAt}}
      </ion-col>

    </ion-row>
  </ion-grid>
 
  <!-- <ion-item>
    {{blog.comment_id}}
  </ion-item> -->
 
 

 
 
 
 
<!--  
  <ion-item>
    {{blog.likes}}
  </ion-item>
  -->
 
<!--  
  <ion-item>
    {{blog.userId}}
  </ion-item>
  -->
 
 
  <!-- <ion-item>
    {{blog.createdAt}}
  </ion-item>
  -->
 

</ion-card>