<ion-card tappable (click)="select(blog)">

  <ion-card-header>{{blog.id}}
  </ion-card-header>


 
 
  <ion-item>
    {{blog.id}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.name}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.description}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.comment_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.user_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.blog_datetime}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.avatar}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.blogImage}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.likes}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.userId}}
  </ion-item>
 
 
 
  <ion-item>
    {{blog.createdAt}}
  </ion-item>
 
 

</ion-card>